@using BeerProjectTask.WebUI.DAL
@using BeerProjectTask.WebUI.Components
@{
    ViewData["Title"] = "BeerDetails";
}

<div class="container-fluid">
    @await Component.InvokeAsync(typeof(BeerDetails), new { options = (BeerSortFilterOptions)ViewData["Options"] })
</div>