@using BeerProjectTask.WebUI.Components
@using BeerProjectTask.WebUI.DAL
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    @await Component.InvokeAsync(typeof(BeerFilter))
</div>
<div class="container-fluid" id="BeerList">
    @await Component.InvokeAsync(typeof(BeersList), new { options = (BeersListSortFilterOptions)ViewData["Options"] })
</div>
