<form method="get" data-ajax="true" data-ajax-method="get" data-ajax-update="BeerList" data-ajax-url="@Url.Link("Index")">
    Name: <input type="text" name="name" /><br>
    <input type="submit" />
</form>
